.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    color: white;
    font-size: 85px;
    animation: flip-title 2s;
}

@keyframes flip-title {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.container-input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.container-input input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px;
}

.container-input input::placeholder {
    color: white;
}

.button-search {
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: transform 0.5s;
}

.button-search:hover {
    transform: scaleX(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    border-radius: 8px;
}

.main h2 {
    margin: 16px 0px;
    font-size: 39px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 870px){
    .title {
        font-size: 60px;
    }    
}

    .main h2 {
        font-size: 28px;
    }

    .main {
        width: 70%;
        min-height: 250px;
    }